<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Recipe Name</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
	th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
	
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
	th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
	th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>

</head>
<body>
<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-md-9 col-md-offset-3">
            <div class="card border border-primary">

                <div class="card-header bg-primary text-white">
                    <h1>My Recipes!</h1>
                </div>
                <div class="card-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">
                        <table class="table table-hover ">
                            <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>View</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td>1</td>
                                <td>Char Siew Pork</td>
                                <td><a href="#">View</a></td>
                                <td><a href="#">Update</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                            <tr th:remove="all">
                                <td>2</td>
                                <td>Fried Kway Tiow</td>
                                <td><a href="#">View</a></td>
                                <td><a href="#">Update</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                            <tr th:each="recipe : ${recipes}">
                                <td th:text="${recipe.id}">334</td>
                                <td th:text="${recipe.description}">Tasty Goodnees 3</td>
                                <td><a href="#" th:href="@{'/recipe/' + ${recipe.id}} + '/show'">view</a></td>
                                <td><a href="#" th:href="@{'/recipe/' + ${recipe.id}} + '/update'">update</a></td>
                                <td><a href="#" th:href="@{'/recipe/' + ${recipe.id}} + '/delete'">delete</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>